@font-face {
    font-family: 'Airbnb';
    src: url('../../fonts/Airbnb/AirbnbCereal_W_Bk.otf') format('opentype');
    font-weight: 400;
    /* Book — normal text */
    font-style: normal;
}

@font-face {
    font-family: 'Airbnb';
    src: url('../../fonts/Airbnb/AirbnbCereal_W_Md.otf') format('opentype');
    font-weight: 500 600;
    /* Medium — titles, semibold */
    font-style: normal;
}