.carousel-grid-slide {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 5px;
    margin: 0 auto;
}

.my-carousel-wrapper,
.carousel-row-wrapper,
.carousel.carousel-slider {
    max-width: 100vw !important;
}


.carouselHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 0;
}

.carousel-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-text);
}


.title-arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    background-color: var(--color-bg-soft);
    color: var(--color-text);
    cursor: pointer;
}

.title-arrow:hover {
    background-color: var(--color-section-hover);
}

.carousel-buttons {
    display: flex;
    /* gap: 0.5rem; */
}

.carousel-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2rem;
    height: 2rem;
    /* border: 1px solid var(--color-border); */
    border-radius: 50%;

    background-color: var(--color-bg-soft);
    color: var(--color-text);
    cursor: pointer;

    transition: background-color 0.2s ease;
}

.carousel-buttons button:hover {
    background-color: var(--color-section-hover);
}

.carousel-buttons button:disabled {
    opacity: 0.3;
    cursor: default;
}

.carousel-buttons button:disabled:hover {
    background-color: var(--color-bg);
}

.stay-card {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.stay-card .stay-card-img-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.stay-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.stay-card-content {
    
    padding: 4px 2px;
    display: grid;
    
    gap: 1px;
}
.stay-card-title {
    font-size: 0.8125rem;
    line-height: 1rem;
    font-family:Airbnb;
    text-align: left;
}
.bottom-card-content {
    display:flex;
    justify-content:flex-start
}
.hostText {
    display:flex;
    flex-direction: column;
    justify-content:center;
    column-gap: 4px;
}
.host-name {
    font-weight: 500;
    font-family: Airbnb;
}


.stay-type,

.stay-price,
.bottom-card-content {
    gap: 5px;
    font-size: 0.75rem;
    margin: 0;
    line-height: 1.2;
}
.stay-location {
    font-size: 0.45rem;
}
.stay-card,
.stay-card:hover,
.stay-card:focus {
    text-decoration: none !important;
}

/* REMEMBER TO ADD LIKE, SCREEN SIZE STUFF  AND A HEART THINGY. LACK OF TEXT HIGHLIGHT IS STRANGELY A FEATURE IN NORMAL AIRBNB SO I ADDED IT HERE LOL*/